<div class ="ajax">
<h5>Posted <%= time_ago_in_words(micropost.created_at) %> ago.</h5>
<h1><%= micropost.univ %></h1>
<h3><%= micropost.content %></h3>
<h4><%= link_to micropost.user.name, micropost.user, class: "link"%></h4>
<% if current_user.favorited?(micropost.id) %>
    <%= render 'microposts/like', micropost: micropost %>
    <% else %>
    <%= render 'microposts/unlike', micropost: micropost %>
<% end %>
</div>
