<% if logged_in? %>
  <p>大学名キーワード検索</p>
  <%= form_tag(microposts_path, :method => "get") do %>
  <%= text_field_tag :search %> 
  <%= submit_tag "Search" ,:univ => nil ,class: "post"%> 
  <% end %> 
  <h1>Newest posts</h1>
  <p class="flash"><%= notice %></p>
  <% if @micropost.any? %>
    <ol>
      <%= render 'index_posts' %>
      <h2><%= paginate @micropost %></h2>
    </ol>
  <% end %>
<% else %>
  <h1 class ="home" >Campus Anywhere<h1>
  <p><%= link_to "Sign Up", signup_path, class: "signup home" %></p>
  <p>または</p>
  <p><%= link_to "Log In", new_path, class: "signup home" %></p>
  <h2 class="home">ポートフォリオを開いていただきありがとうございます。<br>Sign up からアカウントを新規作成するか、<br>下記のテスト用アカウントでログインして機能をお確かめください。</h2>
  <h4>テスト用アカウント</h4>
  <h4>メールアドレス test@example.com</h4>
  <h4>パスワード 123456</h4>
<% end %>