<!DOCTYPE html>
<html>
  <head class ="header">
    <title>Campus Anywhere</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head> 
  <body>
  <header>
  <div class = "setup">
  <% if logged_in? %>
    <p class = "username"><%=link_to current_user.name, user_path(current_user.id), class: "link" %></p> 
    <%= link_to "Log out", out_path, method: :post, class: "btn btn-primary" %>
    <%= link_to "登録情報変更", edit_user_path(current_user.id), class: "btn btn-primary" %>
    <%= link_to "全てのユーザー", index_path, class: "btn btn-primary" %>
    <%= link_to "全ての投稿を見る", root_path, class: "btn btn-primary" %>
    <%= link_to "投稿する", makepost_path, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Login", new_path, class: "btn btn-primary" %>
    <%= link_to "ゲストモード", users_guest_sign_in_path, method: :post , class: "btn btn-primary" %>
  <% end %>
 
  </div>
  </header>
    <main>
    <%= yield %>
    </main>
  <footer class="footer">
  <small><%= link_to "Campus Anywhere", root_path %></small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Help",   help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  </footer>
  </body>
</html>
